Automated Threat Intelligence & Triage Orchestrator.json
{
  "name": "Automated Threat Intelligence & Triage Orchestrator",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1KvdbzFMB8tal-1zUN39aPHTU1NTMdEE24xApWJ320Os",
          "mode": "list",
          "cachedResultName": "SOC Alert Queue - IP Triage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KvdbzFMB8tal-1zUN39aPHTU1NTMdEE24xApWJ320Os/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KvdbzFMB8tal-1zUN39aPHTU1NTMdEE24xApWJ320Os/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        -128
      ],
      "id": "fbaa4ec4-17e0-4bad-8ee0-c9876dce6a93",
      "name": "Trigger: Alert Queue (Sheets)",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "dsPioPOLWllfNYq8",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.virustotal.com/api/v3/ip_addresses/{{ $json['IP Address'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apikey",
              "value": "7430f66ab4a050c8b4a33ef08dc635175ecc86c12b4df65074c54cb1d9f7bc6b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        -128
      ],
      "id": "4caa4881-c2a3-4d50-abf3-0a682f2732d1",
      "name": "Enrich: VirusTotal Threat Scan"
    },
    {
      "parameters": {
        "url": "https://api.abuseipdb.com/api/v2/check",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ipAddress",
              "value": "={{ $json.data.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Key",
              "value": "c00ba767edb098a4a5111bf4b8d5bdddc21fab997a571dfbc565bfb36c23242a62bdd142538ec5ac"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        544,
        -128
      ],
      "id": "6a1e50c2-e626-4ef2-8e1e-863393d3f14b",
      "name": "Enrich: AbuseIPDB Threat Score"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Initialize our baseline score\nlet score = 0;\n\n// 2. Safely extract the data from the immediate nodes!\n// We pull the IP directly from AbuseIPDB so it NEVER grabs the wrong row\nconst abuseData = $json;\nconst ip = abuseData.data?.ipAddress || \"Unknown\";\nconst abuseScore = abuseData.data?.abuseConfidenceScore || 0;\nconst country = abuseData.data?.countryCode || \"Unknown\";\n\n// Grab the paired VirusTotal data\nconst vtData = $('Enrich: VirusTotal Threat Scan').item.json;\nconst vtMalicious = vtData.data?.attributes?.last_analysis_stats?.malicious || 0;\n\n// 3. APPLY OUR CUSTOM SOC LOGIC! \nif (abuseScore > 80) score += 50;\nif (vtMalicious > 5) score += 40;\nelse if (vtMalicious > 0) score += 20;\n\nconst highRiskCountries = [\"RU\", \"CN\", \"IR\", \"KP\"];\nif (highRiskCountries.includes(country)) score += 10;\n\nif (score > 100) score = 100;\n\nlet level = \"Low\";\nif (score >= 70) level = \"High\";\nelse if (score >= 30) level = \"Medium\";\n\n// 4. Output a beautifully clean, structured JSON object\nreturn {\n  ip_address: ip,\n  virustotal_flags: vtMalicious,\n  abuseipdb_score: abuseScore,\n  country_origin: country,\n  final_risk_score: score,\n  risk_level: level\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -128
      ],
      "id": "9e767ca0-c927-4969-8715-605062199e69",
      "name": "Calculate: Risk Scoring Engine"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert SOC Analyst Assistant. Your job is to read threat intelligence metrics and write a concise, 2-sentence triage summary for a Tier 1 analyst.\nRULES:\n\nDO NOT invent or hallucinate data.\n\nBase your reasoning ONLY on the inputs provided.\n\nState why it is risky and suggest blocking the IP if the score is High."
            },
            {
              "content": "=Please analyze this threat data and write a summary:\n- IP Address: {{ $json.ip_address }}\n- Final Risk Score: {{ $json.final_risk_score }}/100\n- Risk Level: {{ $json.risk_level }}\n- VirusTotal Malicious Flags: {{ $json.virustotal_flags }}\n- AbuseIPDB Confidence Score: {{ $json.abuseipdb_score }}%\n- Country of Origin: {{ $json.country_origin }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        992,
        -128
      ],
      "id": "3c807cb9-0903-44b0-9421-cf1913f57b65",
      "name": "Analyze: AI Threat Summary",
      "credentials": {
        "openAiApi": {
          "id": "12xg9fQoLNw3w9so",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1KvdbzFMB8tal-1zUN39aPHTU1NTMdEE24xApWJ320Os",
          "mode": "list",
          "cachedResultName": "SOC Alert Queue - IP Triage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KvdbzFMB8tal-1zUN39aPHTU1NTMdEE24xApWJ320Os/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KvdbzFMB8tal-1zUN39aPHTU1NTMdEE24xApWJ320Os/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Risk Score": "={{ $('Calculate: Risk Scoring Engine').item.json.final_risk_score }}",
            "Status": "Scanned",
            "Risk Level": "={{ $('Calculate: Risk Scoring Engine').item.json.risk_level }}",
            "AI Summary": "={{ $json.output[0].content[0].text }}",
            "IP Address": "={{ $('Calculate: Risk Scoring Engine').item.json.ip_address }}"
          },
          "matchingColumns": [
            "IP Address"
          ],
          "schema": [
            {
              "id": "IP Address",
              "displayName": "IP Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Score",
              "displayName": "Risk Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Summary",
              "displayName": "AI Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        -128
      ],
      "id": "9eac506f-c4f7-4bee-b654-03f3af12af19",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9eq5WjWlWG2TVe6X",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#security-alerts",
          "mode": "name"
        },
        "text": "=🚨 *{{ $('Calculate: Risk Scoring Engine').item.json.risk_level }} RISK IP DETECTED* 🚨\n\n*IP Address:* {{ $('Calculate: Risk Scoring Engine').item.json.ip_address }}\n*Final Risk Score:* {{ $('Calculate: Risk Scoring Engine').item.json.final_risk_score }}/100\n*Origin:* {{ $('Calculate: Risk Scoring Engine').item.json.country_origin }}\n\n*AI Triage Summary:*\n> {{ $json['AI Summary'] }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1792,
        -128
      ],
      "id": "9445bf25-4664-4b94-9fbf-fbc7ba69d523",
      "name": "Alert: SOC Team (Slack)",
      "webhookId": "fc2b696b-7649-47f3-a0d2-f5ec6ff2009d",
      "credentials": {
        "slackApi": {
          "id": "4X3bRwCKoFHUhvhk",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f8b06356-1de1-4f3d-a5a2-5ef55127d2e9",
              "leftValue": "={{ $('Calculate: Risk Scoring Engine').item.json.risk_level }}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        -128
      ],
      "id": "9b452d86-5c5b-4172-a78e-40791ffc2a6f",
      "name": "Filter: High Risk Only"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a3f9c67d-c821-4b86-95e3-c5ca12aa6414",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Scanned",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        -128
      ],
      "id": "ac887572-9a25-45e6-a95f-c5a55e7c8a82",
      "name": "ilter: slreadyScanned IPs"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger: Alert Queue (Sheets)": {
      "main": [
        [
          {
            "node": "ilter: slreadyScanned IPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich: VirusTotal Threat Scan": {
      "main": [
        [
          {
            "node": "Enrich: AbuseIPDB Threat Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich: AbuseIPDB Threat Score": {
      "main": [
        [
          {
            "node": "Calculate: Risk Scoring Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate: Risk Scoring Engine": {
      "main": [
        [
          {
            "node": "Analyze: AI Threat Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze: AI Threat Summary": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Filter: High Risk Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: High Risk Only": {
      "main": [
        [
          {
            "node": "Alert: SOC Team (Slack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ilter: slreadyScanned IPs": {
      "main": [
        [
          {
            "node": "Enrich: VirusTotal Threat Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b46bb2a1-d5ed-4975-9f3c-ea2a018bcecd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81a13cad01dd71e9ff9b6c307343166f1281387a177f0bd9274071a91d630668"
  },
  "id": "Rx-hMWp6NtyFHLncj3yvw",
  "tags": []
}